
$color-brown-light: #F0BF5F;
$color-brown-medium: #CC9933;
$color-brown: #A47312;
$color-blue-light: #CEE8FA;
$color-white: #fff;
$color-grey-light: #E9E9E9;
$color-grey-medium: #999999;
$color-grey: #666666;
$color-grey-dark: #333333;
$color-black: #000;