.footer{

  &__row{
	display: grid;
	grid-template-columns: 30.2rem 1fr min-content;
	justify-content: space-between;
	gap: 12.5rem;
	padding: 4.5rem;
	background: $color-grey-dark;
	border-radius: 1.5rem;
	@media (max-width: 737px) {
	  grid-template-columns: repeat(auto-fit, minmax(30.2rem, 1fr));
	}
  }
  &__info{
	display: grid;
	row-gap: 3.8rem;
	&-text{
	  line-height: 190%;
	  color: $color-white;
	}
	&-link{
	  color: $color-brown-medium;
	}
  }
  &__contacts{
	position: relative;
	&-text{
	  line-height: 190%;
	  color: $color-white;
	  margin-bottom: 1.5rem;
	}
	&-links{
	  margin-bottom: 1.5rem;
	}
	&-link{
	  display: block;
	  line-height: 150%;
	}
	&-logo{
	  position: absolute;
	  bottom: -4.6rem;
	  right: 0;
	  width: 50%;
	  @media (max-width: 737px) {
		bottom: -8rem;
		right: 1.4rem;
		width: 40%;
	  }
	}
  }
  &__social{
	display: grid;
	row-gap: 2rem;
	align-content: start;
	@media (max-width: 737px) {
	  grid-template-columns: repeat(3, 1fr);
	  justify-items: center;
	}
  }
}